
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Google Sans', Roboto, sans-serif;
}

body {
  background-color: #ffffff;
  position: relative;
}
